.card{
  color: whitesmoke;
}

.card-img-top{
  width: 100% !important;
  height: 15vw !important;
  object-fit: cover !important;
}



@media only screen and (max-width: 768px) {
  .card-img-top{
    width: 100% !important;
    height: 30vw !important;
    object-fit: cover !important;
  }
}

@media only screen and (max-width: 576px) {
  .card-img-top{
    width: 100% !important;
    height: 80vw !important;
    object-fit: cover !important;
  }
}


/* @media (min-width: 992px) {
  footer > div > div > a{
    font-size: x-large;
  }
} */
