<div *ngIf="sock$ | async let sock" class="card bg-dark">
  <h1 class="card-title m-5">{{sock.color + ' ' + sock.pattern + ' sock'}}</h1>
  <div class="card-body d-flex flex-wrap">

    <div class="sock-image d-flex flex-column col-12 col-md-6 col-lg-4 ">
      <img src="{{getImageUrl(sock.imgSrc)}}" onerror="this.src='../../assets/socks.svg'">
    </div>

    <div class="d-flex flex-column text-center justify-content-between col-12 col-md-6 col-lg-8">
      <h3>Owner: {{sock.owner}}</h3>
      <h3>Color: {{sock.color}}</h3>
      <h3>Pattern: {{sock.pattern}}</h3>
      <h3>Whole pair: {{sock.hasPair ? '👌' : '❌'}}</h3>
      <div class="d-flex justify-content-end">
        <button routerLink='/socks/{{sock.id}}/edit' class="btn btn-outline-success m-1 mb-md-0">
          Edit sock <fa-icon [icon]="faEdit"></fa-icon>
        </button>

      </div>
    </div>


  </div>
</div>
