<div *ngIf="sock" class="card bg-dark">
  <h1 class="card-title m-5">Edit {{sock.color}} {{sock.pattern}} sock</h1>
  <div class="card-body d-flex flex-wrap">

    <div class="sock-image d-flex flex-column col-12 col-md-6 col-lg-4">
      <ng-container *ngIf="sock.imgSrc">
        <img src="{{getImageUrl()}}" (click)="removePicture()">
        <label for="imgInput" class="btn btn-outline-warning mt-2 mt-md-0">Change picture</label>
      </ng-container>
      <label *ngIf="!sock.imgSrc" for="imgInput" id="addImgBtn" class="d-flex align-items-center justify-content-center mb-0">Add an image</label>
      <input (change)="uploadImage($event)" type="file" id="imgInput" hidden>
    </div>

    <form #sockForm="ngForm" class="col-12 col-md-6 col-lg-8 mt-4 mt-md-0">
      <label class="m-0 p-0" for="owner">Owner</label>
      <span class="input-group mb-4">
        <input [(ngModel)]="sock.owner" name="owner" type="text" class="form-control form-control-lg" placeholder="Owner" required>
      </span>

      <label for="color">Color</label>
      <span class="input-group mb-4">
        <input [(ngModel)]="sock.color" name="color" type="text" class="form-control form-control-lg" placeholder="Color" required>
      </span>

      <label for="pattern">Pattern</label>
      <span class="input-group mb-4">
        <input [(ngModel)]="sock.pattern" name="pattern" type="text" class="form-control form-control-lg" placeholder="Pattern" required>
      </span>

      <span class="input-group pl-4">
        <label class="form-check-label" for="hasPair">Check this box, if neither pair is lost :)</label>
        <input [(ngModel)]="sock.hasPair" id="hasPair" name="hasPair" type="checkbox" class="form-check-input">
      </span>

      <span class="buttons align-self-center d-flex flex-md-row flex-column justify-content-end pt-3">

        <button (click)="submitForm()" class="btn flex btn-outline-success m-1 mb-md-0" [disabled]="sockForm.invalid">Save changes</button>
        <button (click)="openDeleteModal()" class="btn flex- btn-outline-danger m-1 mb-md-0"[disabled]="sockForm.invalid">Delete</button>

      </span>

    </form>
  </div>

</div>
<ngb-alert #updateAlert *ngIf="showAlert" class="mt-4" type="success" (closed)="showAlert = false">Sock has been updated!</ngb-alert>
